* {
    font-family:"Poppins", serif;
    box-sizing: border-box;
	outline: none;   
    
}

h1,
h2,
h3,
h4 {
    font-family: "inter", serif;
}


CSS for smooth transitions
.slider li {
    transition: opacity 0.5s ease-in-out;
}

/* .hidden {
    opacity: 0;
    pointer-events: none; 
} */

:not(.hidden) {
    opacity: 1;
}

